body {
    font-family: "Avenir Next";
}

.header {
    background-color: #348498;
    color: white;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 50px;
    padding: 30px 40px;
    font-family: Impact;
}

.header-list li {
    float: left;
    list-style: none;
    font-size: 28px;
    padding: 30px 40px;
    color: white;
}

.main {
    height: 1800px;
    /*background-color: #ff502f;*/
    color: black;
}

.main h2 {
    font-size: 50px;
    color: black;
}

.main p {
    font-size: 40px;
}

.footer {
    background-color:#348498;
    color: white;
    height: 270px;
}

.footer-logo {
    float: left;
    font-size: 50px;
    font-family: Impact;
}

.footer-list {
    list-style: none;
    float: right;
    font-size: 28px;
    color: white;
}
